# OSRBOT keyboard/mouse sharing device
# VID: 413d, PID: 2107
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="413d", ATTRS{idProduct}=="2107", MODE="0666", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="413d", ATTR{idProduct}=="2107", MODE="0666", GROUP="plugdev", TAG+="uaccess"
